__pycache__/
src/__pycache__/
*.pyc

# The packaging 
src/dist/
src/build/

#local working
#scraps/
#oldModels/

#Previous versions
#oldCode/
src/testfile.higraphml
src/testfile2.higraphml
src/testfile3.higraphml
src/testfile4.higraphml
.gitignore

src/blobbish.higraphml
src/blobbish2.higraphml
src/testfile.higraphml
src/testfile2.higraphml
src/testfile3.higraphml
src/testfile4.higraphml
src/test.higraphml
src/try.bat
src/NumbersBasic2 ansi raw.higraphml
src/NumbersBasic2 ansi.higraphml
src/NumbersBasic2.higraphml
src/NumbersBasictest.higraphml
